header._Header {
  width: 100vw;
  height: 100vh;
  background-image: url(../../../assets/media/pics/banner/banner.jpg);
  background-position: right center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
._Header::before , ._Header::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, #efefef 90%);
}
._Header .content-header {
  /* background: violet; */
  width: 90vw;
  gap: .5rem;
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-areas: "first photo ends";
  grid-template-columns: 1fr 3fr 1fr;
}
._Header .content-header::before {
  width: 55vw;
  height: 80vh;
  background: #279b7c;
  right: -10px;
  top: -20px;
  content: '';
  position: absolute;
  display: inline-block;
  z-index: -1;
}
.content-header h2:nth-child(1),
.content-header h2:nth-child(2){
  text-orientation: mixed;
  writing-mode: vertical-rl;
  font-size: 3.7rem;
  /* font-weight: bold; */
  padding: 0;
  margin: 0;
  font-family: 'Condiment', cursive;
  /* letter-spacing: .2rem; */
}
.content-header h2:nth-child(1){
  /* background: orange; */
  grid-area: first;
  transform: rotate(180deg);
}
.content-header h2:nth-child(2){
  transform: rotate(360deg);
  /* background: red; */
  grid-area: ends;
}
.content-header ._Photo {
  grid-area: photo;
  background: olive;
}
.content-header ._Photo img {
  width: 60vw;
}
.main-names {
  /* background: olive; */
  z-index: 9;
  position: absolute;
  bottom: 55px;
  right: 20px;
  padding: 1.5rem;
}
.main-names h2 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);

}